/*Configurações Gerais*/
html{
	 scroll-behavior: smooth;
}

.gradiente{
	 background-image: linear-gradient(to right, #260401, #38705B);
}

.p p{
  color: rgba(96, 191, 155, 0.45);
  font-family: 'Trispace', sans-serif;
}

.p p:hover{
  color: rgba(96, 191, 155, 0.55);
  font-family: 'Trispace', sans-serif;
}

.linha {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 2px solid #fff;
}

.linha:hover{
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 2px solid #60BF9B;
}

.hover:hover{
  text-decoration: none;
  color: #60BF9B;
}

.baixo{
  color: rgba(96, 191, 155, 0.75);
}

.pl-lg-6{
  padding-left: 10rem !important;
}

.mus{
  width: 150px;
}
/*Sobre*/
.sobre {
  	background-image: linear-gradient(to top, #260401, #38705B);
  	background-size: cover;
  	position: relative;
  	padding: 80px 0
}

.sobre:before {
  	content: "";
  	background: rgba(0, 0, 0, 0.60);
  	position: absolute;
  	bottom: 0;
  	top: 0;
  	left: 0;
  	right: 0;
}

.sobre .sobre-img {
  	position: relative;
  	transition: .5s;
}

.sobre .sobre-img img {
  	max-width: 100%;
  	border: 4px solid rgba(255, 255, 255, 0.2);
  	position: relative;
}

.sobre .sobre-img::before {
  	position: absolute;
  	left: 20px;
  	top: 20px;
  	width: 60px;
  	height: 60px;
  	z-index: 1;
  	content: '';
  	border-left: 5px solid #CB985F;
  	border-top: 5px solid #CB985F;
  	transition: .5s;
}

.sobre .sobre-img::after {
  	position: absolute;
  	right: 20px;
  	bottom: 20px;
  	width: 60px;
  	height: 60px;
  	z-index: 2;
  	content: '';
  	border-right: 5px solid #CB985F;
  	border-bottom: 5px solid #CB985F;
  	transition: .5s;
}

.sobre .sobre-img{
	filter: brightness(40%);
}

.sobre .sobre-img:hover {
  	transform: scale(1.03);
  	filter: brightness(80%);
}

.sobre .conteudo h3 {
  	font-weight: 600;
  	font-size: 26px;
	color: #fff ;
}

.sobre .conteudo ul {
  padding: 0;
}

.sobre .conteudo ul li {
  padding-bottom: 10px;
}

.sobre .conteudo ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #CB985F;
}

}
.sobre .conteudo p:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .sobre {
    background-attachment: fixed;
  }
}


#sobre{
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
/*Configurações gerias do sobre*/

.titulo h1, h3, h4, h5, h6{
	color: #fff;
	font-family: 'Trispace', sans-serif;
	text-align: center;
}

.conteudo p, ul, li{
	color: #fff;
	text-align: justify;
}

.cor{
	background: rgba(0,0,0,0.30);
}

.cor:hover{
  background: rgba(0,0,0,0.80); 
}

.el-item{
	  display: block;
  	width: 100%;
  	padding: 0.25rem 1.5rem;
  	clear: both;
  	font-weight: 400;
  	color: #fff;
  	text-align: inherit;
  	white-space: nowrap;
  	background-color: transparent;
 	  border: 0;
    font-size: 2.8vh; 
}

.el-item:hover{
	 color: rgba(96, 191, 155, 0.75);
	 text-decoration: none;
}

.ano{
	 background: transparent;
	 width: 50%;
	 margin-right: auto;
	 margin-left: auto;
	 font-weight: 700;
	 margin-bottom: 2vh;
   color: #fff;
   text-align: center;
}

/*Especies*/

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: -20px 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Trispace', sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #80FFCE;
  margin: 4px 10px;
}

.esp {
  	background: url(../img/juntos.jpg);
  	background-size: cover;
  	position: relative;
  	padding: 80px 0
}

.esp:before {
  	content: "";
  	background: rgba(0, 0, 0, 0.60);
  	position: absolute;
  	bottom: 0;
  	top: 0;
  	left: 0;
  	right: 0;
}

@media (min-width: 1024px) {
    .esp {
      background-attachment: fixed;
  }
}


#esp{
	 margin-left: auto;
	 margin-right: auto;
	 text-align: justify;
}

/*Curiosidades*/

.cur {
    background-image: linear-gradient(to top, #260401, #38705B);
    background-size: cover;
    position: relative;
    padding: 80px 0
}

.cur:before {
    content: "";
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.cur .sobre-img {
    position: relative;
    transition: .5s;
}

.cur .sobre-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.cur .sobre-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    
    transition: .5s;
}

.cur .sobre-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    transition: .5s;
}

.cur .sobre-img{
  filter: brightness(40%);
}

.cur .sobre-img:hover {
    transform: scale(1.03);
    filter: brightness(80%);
}

.cur .sobre-img:hover::before {
    left: 10px;
    top: 10px;
    filter: brightness(40%);
}

.cur .sobre-img:hover::after {
    right: 10px;
    bottom: 10px;
    filter: brightness(40%);
}

@media (min-width: 1024px) {
  .cur {
    background-attachment: fixed;
  }
}
@media (min-width: 768px) {
  .oi {
    border: 2px;
  }
}

.clo:hover {
  background: rgba(0,0,0,0.6);
}

.grow:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.color {
  color: #60BF9B;
}